<div class="row" ng-controller="HotelController">
    <div class="panel panel-default" ng-hide="hotelBooking">
        <div class="panel-heading">View Hotel: {{hotel.name}}</div>
        <div class="panel-body">
            <div class="row">
                <label class="col-md-6 control-label" style="text-align: right;">Name:</label>
                <label class="col-md-6 control-label text-normal">{{hotel.name}}</label>
            </div>
            <div class="row">
                <label class="col-md-6 control-label" style="text-align: right;">Address:</label>
                <label class="col-md-6 control-label text-normal">{{hotel.address}}</label>
            </div>
            <div class="row">
                <label class="col-md-6 control-label" style="text-align: right;">City:</label>
                <label class="col-md-6 control-label text-normal">{{hotel.city}}</label>
            </div>
            <div class="row">
                <label class="col-md-6 control-label" style="text-align: right;">State:</label>
                <label class="col-md-6 control-label text-normal">{{hotel.state}}</label>
            </div>
            <div class="row">
                <label class="col-md-6 control-label" style="text-align: right;">Zip:</label>
                <label class="col-md-6 control-label text-normal">{{hotel.zip}}</label>
            </div>
            <div class="row">
                <label class="col-md-6 control-label" style="text-align: right;">Nightly rate:</label>
                <label class="col-md-6 control-label text-normal">{{hotel.rate}}</label>
            </div>
            <div class="row" align="center">
                <button class="btn btn-primary" ng-click="hotelBooking = true">Book Now</button>
                <button class="btn btn-primary" ng-click="backToSearch()">Back To Search</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-show="hotelBooking && !confirmBooking">
        <div class="panel-heading">Book Hotel: {{hotel.name}}</div>
        <div class="panel-body">
            <form novalidate name="paymentForm" class="form-horizontal">
                <div class="row control-group">
                    <label class="col-md-5 control-label">Name:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.name}}</label>
                </div>
                <div class="row control-group">
                    <label class="col-md-5 control-label">Address:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.address}}</label>
                </div>
                <div class="row control-group">
                    <label class="col-md-5 control-label">City:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.city}}</label>
                </div>
                <div class="row control-group">
                    <label class="col-md-5 control-label">State:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.state}}</label>
                </div>
                <div class="row control-group">
                    <label class="col-md-5 control-label">Zip:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.zip}}</label>
                </div>
                <div class="row control-group">
                    <label class="col-md-5 control-label">Nightly rate:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.rate}}</label>
                </div>
                <div class="row control-group required-asterisk">
                    <label class="col-md-5 control-label">Check In Date</label>
                    <div class="input-group input-group-sm col-md-3">
                        <input type="text" ng-model="booking.checkInDate" name="checkInDate" data-date-format="YYYY-MM-DD" class="col-md-6 form-control" style="cursor: pointer;" id="check-in-date" placeholder="Check In Date" autocomplete="off" readonly="readonly" required>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                </div>
                <div class="row has-error" ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
                    <div class="col-md-offset-5 col-md-3">
                        <span class="help-block" ng-show="paymentForm.checkInDate.$error.required">Check in date is required <br></span>
                    </div>
                </div>
                <div class="row control-group required-asterisk" style="padding-top: 5px;">
                    <label class="col-md-5 control-label">Check Out Date</label>
                    <div class="input-group input-group-sm col-md-3">
                        <input type="text" ng-model="booking.checkOutDate" name="checkOutDate" data-date-format="YYYY-MM-DD" class="col-md-6 form-control" style="cursor: pointer;" id="check-out-date" placeholder="Check Out Date" autocomplete="off" readonly="readonly" required>
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                </div>
                <div class="row has-error" ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
                    <div class="col-md-offset-5 col-md-3">
                        <span class="help-block" ng-show="paymentForm.checkOutDate.$error.required">Check out date is required <br></span>
                    </div>
                </div>
                <div class="row control-group required-asterisk" style="padding-top: 5px;">
                    <label class="col-md-5 control-label">Room Preference</label>
                    <select name="roomType" ng-model="booking.roomType" class="col-md-3 input-sm" ng-options="option.name group by option.type for option in options" required>
                        <option value="">- - Make Selection - -</option>
                    </select>
                </div>
                <div class="row has-error" ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
                    <div class="col-md-offset-5 col-md-3">
                        <span class="help-block" ng-show="paymentForm.roomType.$error.required">Please select the room type you want <br></span>
                    </div>
                </div>

                <div class="row control-group required-asterisk" style="padding-top: 5px;">
                    <label class="col-md-5 control-label">Credit Card # </label>
                        <input type="text" name="creditCard" class="col-md-3" placeholder="Card Number" autocomplete="off" ng-model="booking.creditCard" data-credit-card-type data-ng-pattern="/^[0-9]+$/" data-ng-minlength="15" maxlength="19" required>
                        <span class="{{booking.type}} fa-lg" style="font-size: 40px;padding-left: 10px;line-height:35px"></span>
                </div>
                <div class="row has-error" ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
                    <div class="col-md-offset-5 col-md-3">
                        <span class="help-block" ng-show="paymentForm.creditCard.$error.minlength">Credit card must be 15-19 digits <br></span>
                        <span class="help-block" ng-show="paymentForm.creditCard.$error.pattern">Credit card must consist of only numbers <br></span>
                        <span class="help-block" ng-show="paymentForm.creditCard.$error.invalid">Credit card must be a valid Amex, Visa, Discover, or Master Card <br></span>
                        <span class="help-block" ng-show="paymentForm.creditCard.$error.required">Credit card required <br></span>
                    </div>
                </div>
                <div class="row control-group required-asterisk" style="padding-top: 5px;">
                    <label class="col-md-5 control-label">Credit Card Name</label>
                    <input type="text" class="col-md-3" ng-model="booking.creditCardName" name="creditCardName" placeholder="Card Name" required>
                </div>
                <div class="row has-error" ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
                    <div class="col-md-offset-5 col-md-3">
                        <span class="help-block" ng-show="paymentForm.creditCardName.$error.required">Credit Card Name is required <br></span>
                    </div>
                </div>
                <div class="row control-group required-asterisk" style="padding-top: 5px;">
                    <label class="col-md-5 control-label">CVV</label>
                    <input type="password" class="col-md-1" ng-model="booking.securityCode" name="securityCode" placeholder="CCV" required data-ng-pattern="/^[0-9]+$/" data-ng-minlength="3" maxlength="4">
                </div>
                <div class="row has-error" ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
                    <div class="col-md-offset-5 col-md-3">
                        <span class="help-block" ng-show="paymentForm.securityCode.$error.pattern">Security code must contain only numbers <br></span>
                        <span class="help-block" ng-show="paymentForm.securityCode.$error.minlength">Security code must be 3-4 digits <br></span>
                        <span class="help-block" ng-show="paymentForm.securityCode.$error.required">Security code required <br></span>
                    </div>
                </div>
                <div class="row control-group required-asterisk" style="padding-top: 5px;">
                    <label class="col-md-5 control-label">Credit Card Expriy</label>
                    <select class="col-md-1 input-sm" ng-model="booking.month" name="month" data-card-expiration required>
                        <option disabled selected value="">Month</option>
                        <option ng-repeat="month in months" value="{{$index+1}}" >{{month}}</option>
                    </select>
                    <select class="col-md-1 input-sm" name="year" ng-model="booking.year" required>
                        <option disabled selected value="">Year</option>
                        <option ng-repeat="year in [] | range:currentYear:currentYear+13" value="{{year}}">{{year}}</option>
                    </select>
                </div>
                <div class="row has-error" ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
                    <div class="col-md-offset-5 col-md-3">
                        <span class="help-block" ng-show="paymentForm.month.$error.required">Expiration month required <br></span>
                        <span class="help-block" ng-show="paymentForm.year.$error.required">Expiration year required <br></span>
                        <span class="help-block" ng-show="paymentForm.month.$error.invalid">Provided expiration date is invalid <br></span>
                    </div>
                </div>
                <div class="row" style="padding-top: 5px;" align="center">
                    <button class="btn btn-primary" ng-click="paymentForm.submitAttempt=true;proceed()" type="submit">Proceed</button>
                    <button class="btn btn-primary" ng-click="backToSearch()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default" ng-show="confirmBooking">
        <div class="panel-heading">Book Hotel: {{hotel.name}}</div>
        <div class="panel-body">
            <form novalidate name="paymentViewForm" class="form-horizontal">
                <div class="row">
                    <label class="col-sm-5 control-label">Name:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.name}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">Address:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.address}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">City:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.city}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">State:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.state}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">Zip:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.zip}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">Nightly rate:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.rate}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">Total Payment:</label>
                    <label class="col-md-6 control-label text-normal">{{hotel.rate}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">Check In Date:</label>
                    <label class="col-md-6 control-label text-normal">{{booking.checkInDate}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">Check Out Date:</label>
                    <label class="col-md-6 control-label text-normal">{{booking.checkOutDate}}</label>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label">Credit Card #:</label>
                    <label class="col-md-6 control-label text-normal">{{booking.creditCard}}</label>
                </div>
                <div class="row" style="padding-top: 5px;" align="center">
                    <button class="btn btn-primary" ng-click="bookHotel()" type="button">Confirm</button>
                    <button class="btn btn-primary" ng-click="confirmBooking = false" type="button">Revise</button>
                    <button class="btn btn-primary" ng-click="backToSearch()" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#check-in-date').datetimepicker({
        pickTime : false,
        autoclose: true,
        showToday: true,
        minDate: new Date(),
        pick12HourFormat : true
    });

    $('#check-out-date').datetimepicker({
        pickTime : false,
        autoclose: true,
        showToday: true,
        minDate: new Date(),
        pick12HourFormat : true
    });
    $("#check-in-date").on("dp.change",function (e) {
        $('#check-out-date').data("DateTimePicker").setMinDate(e.date);
    });
    $("#check-out-date").on("dp.change",function (e) {
        $('#check-in-date').data("DateTimePicker").setMaxDate(e.date);
    });
</script>
